article {
  /* grid-template-columns: 3fr 1fr; */
  grid-template-columns: 50% 20%;
  display: inline-grid;
  padding-bottom: 3%;
}

div {
  display: grid;
}

/* section {
  outline: black solid 5px;
} */

h1, span {
  font-size: 5em;
}

.japanMap {
  width: 50%;
  height: 100%;
  mix-blend-mode: multiply;
}

.rose {
  color: red;
  display: inline;
}

span {
  display: none;
  white-space: pre-wrap;
}

section {
  padding-left: 20%;
}

section a {
  text-decoration: none;
}

section:hover span {
  display: inline;
}