* {
  font-family: 'Merienda', cursive !important;
}

.cardGrid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}

.cardContainer {
  /* width: 320px; */
  /* height: 500px; */
}

.nodisplay {
  display: none !important;
}

.css-46bh2p-MuiCardContent-root:last-child {
  display: inline;
}

.MuiBox-root {
  margin: 3% 3%;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  background-color: #c4dfe8 !important;
  width: 100%;
}

.css-o69gx8-MuiCardMedia-root {
  display: initial !important;
  width: auto !important;
  max-height: 10em;
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .MuiCardContent-root {
  
} */