* {
  font-family: 'Merienda', cursive !important;
}

.cardGrid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}

/* px fits description but don't like collapse. em looks great but can't read all description */
.cardContainer {
  /* height: 450px; */ 
  height: 20em;
}

.nodisplay {
  display: none !important;
}

.css-46bh2p-MuiCardContent-root:last-child {
  display: inline;
}

.MuiBox-root {
  margin: 3% 3%;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  background-color: #c4dfe8 !important;
  width: 100%;
}

.css-o69gx8-MuiCardMedia-root {
  display: initial !important;
  width: auto !important;
  max-height: 10em;
}

.MuiCard-root{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.css-185gdzj-MuiCardHeader-root {
    background-color: whitesmoke;
    width: 70%;
    align-self: center;
    border-radius: 10%;
    margin-bottom: 5%;
}