* {
  /* border: 1px solid black; */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    overflow-y: hidden;
    display: contents;
}

.App {
  /* background-image: linear-gradient(#D16BA5, #86A8E7, #5FFBF1); */
  background-image: url('./assets/fuji-japan.svg');
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center;
  text-align: center;
  background-color: #FFFFFF; /* Used if the image is unavailable */
  font-family: 'Merienda', cursive;
}

main {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: #6c9bd2;
}
