body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    overflow-y: hidden;
    display: contents;
}

.App {
  text-align: center;
  background-color: #FFFFFF; /* Used if the image is unavailable */
  font-family: 'Merienda', cursive;
}

main {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: #6c9bd2;
}

img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  object-fit: contain !important;
  align-self: center;
  mix-blend-mode: multiply !important;
}