body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    /* overflow-y: hidden; */
}

.App {
  background-image: linear-gradient(#D16BA5, #86A8E7, #5FFBF1);
  text-align: center;
  /* margin: 0 3%; */
  font-family: 'Merienda', cursive;
}
